# PANDAS

In [1]:
import numpy as np
import pandas as pd

In [3]:
list1=[1,2,3,4,5]
arr=np.arange(5)
dic={'a':1,'b':2,'c':3,'d':4}
list2=['a','b','c','d','e']

# series 

->it will creat a index to the data which is given by user. 
  ->syntax:pd.Series(data,lables).
     ->here lables are taken as index.

In [6]:
pd.Series(list1)  # here index is generated automatically

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series(list1,list2)  #here the index is taken from the list2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
pd.Series(arr,list2)

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [14]:
pd.Series(dic)

a    1
b    2
c    3
d    4
dtype: int64

In [25]:
my_list=[1,2,3,4]  ##special case for dictionary  

pd.Series(dic,my_list)

1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [31]:
methods=[sum,print]   # it will create index for methods
pd.Series(methods)

0      <built-in function sum>
1    <built-in function print>
dtype: object

# seires indexing

In [27]:
pdd=pd.Series(arr,list2)
pdd

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [29]:
pdd['c'],pdd['e']    # here index should give in correct datatype. Ex :pdd[c]  is wrong in current ex

(2, 4)

# addition of series

In [17]:
list3=['san','nee','mat','pra','lah']   
list4=['san','nee','lah','pra','mat']
pd1=pd.Series(list1,list3)
pd2=pd.Series(list1,list4)

In [19]:
pd1

san    1
nee    2
mat    3
pra    4
lah    5
dtype: int64

In [20]:
pd2

san    1
nee    2
lah    3
pra    4
mat    5
dtype: int64

In [21]:
pd1+pd2     # if indexes are not matched then it will rise as nan

lah    8
mat    8
nee    4
pra    8
san    2
dtype: int64

# dataframes

In [26]:
from numpy.random import randn

In [27]:
df=pd.DataFrame(randn(6,4),['a','b','c','d','e','r'],['x','y','z','w'])
df

          x         y         z         w
a  0.441808 -1.171174  0.126139 -1.755456
b -0.159662  1.218003  0.154944  0.733014
c  0.553919  1.051009  1.554044  0.335496
d -0.672600 -0.828545  0.646868 -0.409521
e  0.199671  0.684740  1.353617 -0.300989
r -0.606764 -0.459250 -1.358167  1.336416

In [20]:
df ['x']   # selecting of the columns

a    0.649148
b    0.161781
c    0.783316
d    0.677535
e   -0.532471
r    0.729024
Name: x, dtype: float64

In [27]:
df[['x','y']]    # selecting of the two or more columns

          x         y
a -0.981897 -0.088376
b -0.170910 -0.095199
c -1.042289 -0.381743
d  0.181051  0.141611
e  0.301328  0.990051
r -1.270508 -0.937949

In [28]:
df.loc['a']   # selecting of the rows

x   -0.981897
y   -0.088376
z   -0.005970
w    0.359671
Name: a, dtype: float64

In [29]:
df.loc[['a','b']]

          x         y         z         w
a -0.981897 -0.088376 -0.005970  0.359671
b -0.170910 -0.095199 -0.237375 -0.575313

In [30]:
df.iloc[3]    # here index 3 is 'd'.selecting the row with the index.

x    0.181051
y    0.141611
z   -0.731324
w   -0.657143
Name: d, dtype: float64

-> here we can observe that for row 3 we got in series formate .
    ->by this we can say that rows and columns are series to each other

In [21]:
type(df)

pandas.core.frame.DataFrame

->By this we can understand that a datfram is a collection of series

# adding of the data into frame

In [9]:
df['my_data']=df['x']+df['y']     # addimg of the data into frame
df                                #if we give inplace=tue in adding data my_data will get  permanent in df

          x         y         z         w   my_data
a -0.369188 -0.296386  1.172567  0.138636 -0.665574
b -0.886657  0.194896 -0.069128  0.199175 -0.691761
c -0.983365 -1.271193  1.283515 -1.333776 -2.254558
d -1.137353 -1.265731  0.584704  0.007476 -2.403084
e -0.890526  1.756792 -0.776518 -0.368937  0.866266
r -1.836298  1.011191  2.296990  0.141420 -0.825107

In [30]:
df.loc['j']=np.arange(0,4)
df.loc['k']=np.arange(1,5)
df

          x         y         z         w
a  0.441808 -1.171174  0.126139 -1.755456
b -0.159662  1.218003  0.154944  0.733014
c  0.553919  1.051009  1.554044  0.335496
d -0.672600 -0.828545  0.646868 -0.409521
e  0.199671  0.684740  1.353617 -0.300989
r -0.606764 -0.459250 -1.358167  1.336416
j  0.000000  1.000000  2.000000  3.000000
k  1.000000  2.000000  3.000000  4.000000

# deleting data from frame

In [16]:
df_1=df.drop('z',axis=1)   # here drop is a method to delete columns and rows from the data frame
df_1                       #for deleting rows axis is 1

          x         y         w   my_data
a -0.981897 -0.088376  0.359671 -1.070272
b -0.170910 -0.095199 -0.575313 -0.266109
c -1.042289 -0.381743  0.190720 -1.424032
d  0.181051  0.141611 -0.657143  0.322663
e  0.301328  0.990051  0.621065  1.291379
r -1.270508 -0.937949  0.601935 -2.208457

In [10]:
df.drop('my_data',axis=1,)

          x         y         z         w
a -0.369188 -0.296386  1.172567  0.138636
b -0.886657  0.194896 -0.069128  0.199175
c -0.983365 -1.271193  1.283515 -1.333776
d -1.137353 -1.265731  0.584704  0.007476
e -0.890526  1.756792 -0.776518 -0.368937
r -1.836298  1.011191  2.296990  0.141420

In [25]:
df.drop('r',axis=0)        # deleting rows from the df

          x         y         z         w
a -0.981897 -0.088376 -0.005970  0.359671
b -0.170910 -0.095199 -0.237375 -0.575313
c -1.042289 -0.381743 -0.902633  0.190720
d  0.181051  0.141611 -0.731324 -0.657143
e  0.301328  0.990051 -0.777263  0.621065

In [26]:
df.shape

(6, 4)

 ->here we are using axis=1 for the columns and axis=0 for the rows .
    ->because  ex:-in shape(6,4) index 0 is occupied by the rows and index 1 is occupied by the columns.
       ->we know that pandas are based on the numpys

In [8]:
df

          x         y         z         w
a -0.369188 -0.296386  1.172567  0.138636
b -0.886657  0.194896 -0.069128  0.199175
c -0.983365 -1.271193  1.283515 -1.333776
d -1.137353 -1.265731  0.584704  0.007476
e -0.890526  1.756792 -0.776518 -0.368937
r -1.836298  1.011191  2.296990  0.141420

# conditional selection

In [6]:
df

          x         y         z         w
a  0.787276  0.105260 -0.719730  0.493030
b  0.987151  2.110926 -1.696115 -0.656592
c -1.420860  1.599038 -1.237577  1.682152
d  1.192794  0.098978 -0.415589 -0.676292
e -1.682558 -0.349596  0.213855  0.414854
r  1.595604  1.178554 -0.078823  0.585742

In [7]:
df>0   # similar to the numpy boolens

       x      y      z      w
a   True   True  False   True
b   True   True  False  False
c  False   True  False   True
d   True   True  False  False
e  False  False   True   True
r   True   True  False   True

In [8]:
dfbool=df>0    # getting  of the values which are grater than the 0
df[dfbool]

          x         y         z         w
a  0.787276  0.105260       NaN  0.493030
b  0.987151  2.110926       NaN       NaN
c       NaN  1.599038       NaN  1.682152
d  1.192794  0.098978       NaN       NaN
e       NaN       NaN  0.213855  0.414854
r  1.595604  1.178554       NaN  0.585742

In [11]:
df['w']>0

a     True
b    False
c     True
d    False
e     True
r     True
Name: w, dtype: bool

In [14]:
df[df['w']>0]   # here we won't get b and d rows because tyey are false in the df['w'>0]
                #why because we are sending the  df['w'>0] ar argument to the df[].

          x         y         z         w
a  0.787276  0.105260 -0.719730  0.493030
c -1.420860  1.599038 -1.237577  1.682152
e -1.682558 -0.349596  0.213855  0.414854
r  1.595604  1.178554 -0.078823  0.585742

In [21]:
df[df['w']>0][['x','y']]     #type of slicing the data

          x         y
a  0.787276  0.105260
c -1.420860  1.599038
e -1.682558 -0.349596
r  1.595604  1.178554

In [26]:
df[(df['x']>0) & (df['y']>1)]     # type of slicing where user want data depends on the two conditions
                                #here we got only b,r rows becaause remaining rows are false
                                #we can use symbols like |(or) ,&(and)

          x         y         z         w
b  0.987151  2.110926 -1.696115 -0.656592
r  1.595604  1.178554 -0.078823  0.585742

In [29]:
# the same thing  can do for the rows.

# reset and seting of index

In [30]:
df.reset_index()  #if we have to make it fix or place we have to use inplace=true

  index         x         y         z         w
0     a  0.787276  0.105260 -0.719730  0.493030
1     b  0.987151  2.110926 -1.696115 -0.656592
2     c -1.420860  1.599038 -1.237577  1.682152
3     d  1.192794  0.098978 -0.415589 -0.676292
4     e -1.682558 -0.349596  0.213855  0.414854
5     r  1.595604  1.178554 -0.078823  0.585742

In [32]:
newind='as dc fv gb hn jm '.split()
newind

['as', 'dc', 'fv', 'gb', 'hn', 'jm']

In [34]:
df['INDEX']=newind     # another way of creating index
df

          x         y         z         w INDEX
a  0.787276  0.105260 -0.719730  0.493030    as
b  0.987151  2.110926 -1.696115 -0.656592    dc
c -1.420860  1.599038 -1.237577  1.682152    fv
d  1.192794  0.098978 -0.415589 -0.676292    gb
e -1.682558 -0.349596  0.213855  0.414854    hn
r  1.595604  1.178554 -0.078823  0.585742    jm

In [36]:
df.set_index('INDEX')    #now we created index as the INEDX

              x         y         z         w
INDEX
as     0.787276  0.105260 -0.719730  0.493030
dc     0.987151  2.110926 -1.696115 -0.656592
fv    -1.420860  1.599038 -1.237577  1.682152
gb     1.192794  0.098978 -0.415589 -0.676292
hn    -1.682558 -0.349596  0.213855  0.414854
jm     1.595604  1.178554 -0.078823  0.585742

In [31]:
df

          x         y         z         w
a  0.441808 -1.171174  0.126139 -1.755456
b -0.159662  1.218003  0.154944  0.733014
c  0.553919  1.051009  1.554044  0.335496
d -0.672600 -0.828545  0.646868 -0.409521
e  0.199671  0.684740  1.353617 -0.300989
r -0.606764 -0.459250 -1.358167  1.336416
j  0.000000  1.000000  2.000000  3.000000
k  1.000000  2.000000  3.000000  4.000000